Repository pshakespeare/local-transcriber: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerfile-lint, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: debug-statements
      - id: requirements-txt-fixer

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        language_version: python3

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=88, --extend-ignore=E203,W503]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.3.0
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        args: [--ignore-missing-imports]

  - repo: https://github.com/pycqa/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: [-r, src/, -f, json, -o, bandit-report.json]
        exclude: ^tests/

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.7.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        types_or: [yaml, json, markdown]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
        args: [--fix]

  - repo: local
    hooks:
      - id: pytest-check
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true
        args: [tests/]

      - id: dockerfile-lint
        name: Dockerfile lint
        entry: hadolint
        language: system
        files: Dockerfile
        args: [--ignore, DL3008, --ignore, DL3009, --ignore, DL3013]

      - id: yamllint
        name: YAML lint
        entry: yamllint
        language: system
        files: \.(yaml|yml)$
        args: [-c, .yamllint]

ci:
  autofix_commit_msg: 'style: auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci'
  autoupdate_commit_msg: 'ci: pre-commit autoupdate

    Co-authored-by: pre-commit-ci[bot] <66853113+pre-commit-ci[bot]@users.noreply.github.com>'

docs: comprehensive updates with real-world testing
  ABOUT.md
  README.md
  docs/DOCUMENTATION_UPDATES.md
  scripts/docker-setup.sh
  scripts/setup-guide.sh
Due: none

feat: clean project and update docs for GitHub portfolio
  ABOUT.md
  README.md
  docker-compose.yml
  docs/DOCUMENTATION_UPDATES.md
  scripts/setup-guide.sh
Due: yamllint

feat: add model selection and improve developer experience
  Makefile
  README.md
  scripts/setup-guide.sh
  src/transcriber.py
Due: none

feat: Complete project overhaul - Docker-first with 3-minute setup
  Dockerfile
  README.md
  docker-compose.yml
  scripts/docker-batch.sh
  scripts/docker-setup.sh
  scripts/setup-guide.sh
  src/transcriber.py
Due: dockerfile-lint, yamllint

Fix Makefile output filename logic for all video/audio formats
  Makefile
  README.md
  docs/DEVELOPER_GUIDE.md
  docs/DOCUMENTATION_UPDATES.md
  docs/MAKEFILE_GUIDE.md
  docs/PROJECT_OVERVIEW.md
  docs/QUICK_REFERENCE.md
  docs/TROUBLESHOOTING.md
  scripts/setup-guide.sh
  src/transcriber.py
Due: none

updating docs
  Makefile
  README.md
  docs/CHANGELOG.md
  docs/DOCUMENTATION_UPDATES.md
  docs/QUICK_REFERENCE.md
  scripts/fix-output-name.sh
Due: none

if model is missing -- download model
  README.md
  src/__init__.py
  src/transcriber.py
Due: none
